<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <menu>
        <p>Pizzaaaa's</p>
        <a href="/my-orders">
            <p>My Orders</p>
        </a>
    </menu>

    <div class="product-container">
    </div>


    <script src="js/home.js" type="module"></script>
</body>

</html>